<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @profile_image.title %>
</p>

<%= link_to 'Edit', edit_profile_image_path(@profile_image) %> |
<%= link_to 'Back', profile_images_path %>
