<p id="notice"><%= notice %></p>
<%= image_tag @bannerimage.image.url(:original, timestamp: false) %>
<%= link_to 'Edit', edit_bannerimage_path(@bannerimage) %> |
<%= link_to 'Back', bannerimages_path %>
